.basicFooter {
    background-color: #fff;
    border-top: 1px solid $color-fill1-1;

    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        padding-bottom: 50px;
        ul {
            padding-top: 40px;
            padding-bottom: 28px;
            li {
                display: inline-block;
                padding: 0 20px;
                height: 14px;
                line-height: 14px;
                list-style: none;
                a {
                    line-height: 14px;
                    font-size: 14px;
                    color: #404348;
                }
                &:hover { cursor: pointer }
                &:nth-child(1) { padding-left: 0 }
                &:nth-child(n + 2) { border-left: 1px solid #abafb7 }
            }
        }
        p {
            font-size: 14px;
            color: #74767a;
            a{
                color: #74767a;
            }
        }
        .emailXs {
            display: none;
        }
        a:hover{
            color: $color-notice-5;
        }
        img {
            position: absolute;
            right: 0;
            top: 45px;
        }
    }
}

@include media(xs) {
    .basicFooter .wrapper {
        padding: 20px 15px 15px;
        ul {
            display: none;
        }
        p {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-size: 12px;
        }
        img {
            position: static;
            display: block;
            width: 100px;
            margin: 8px auto 0;
        }
        .emailXs {
            display: block;
        }
        .mail {
            display: none;
        }
    }
}
