.container {
    display: flex;
    justify-content: center;
    padding-top: 30px;

    .title {
        display: inline-block;
        text-align: center;
        color: #333;
        border-bottom: 2px solid orangered;
        letter-spacing: 2px;
    }
}

.box {
    width: 420px;
    box-shadow: 0 2px 8px 0 rgba(7, 17, 27, 0.06);
    border-radius: 8px;
    text-align: center;

    span {
        font-size: 16px;
        font-weight: 700;
        color: #333;
    }
}

.user_list {
    box-sizing: border-box;
    height: 600px;
    overflow-y: auto;

    ul {
        list-style-type: decimal;
        text-align: left;
        padding-right: 12px;
    }
}
