.basicHeader {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 990;
    .logo {
        box-sizing: border-box;
        float: left;
        padding: 20px 0 0 30px;
        img {
            width: 44px;
        }
        a:hover {
            text-decoration: none;
        }
        .desc {
            display: flex;
            align-items: center;
        }
        span {
            font-size: 24px;
            color: #fff;
            vertical-align: top;
            line-height: 50px;
            padding-left: 8px;
        }
    }
    .user {
        position: absolute;
        top: 0;
        right: 0;
        ul {
            display: flex;
            align-items: center;
            padding: 35px 30px 0 0;
            li {
                display: flex;
                align-items: center;
                position: relative;
                box-sizing: border-box;
                padding: 0 12px;

                font-size: 14px;
                color: #fff;
                white-space: nowrap;

                &::after {
                    content: "";
                    display: block;
                    height: 14px;
                    width: 1px;
                    background-color: #fff;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -7px;
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
                a {
                    color: #fff;
                    &:hover{
                        color: #1dc8f9;
                        text-decoration: none;
                    }
                }
                .name {
                    max-width: 230px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                :global {
                    .label {
                        margin-left: 8px;
                        background: transparent;
                        &.normal {
                            border: 1px solid #0ce;
                            color: #0ce;
                            line-height: 18px;
                        }
                        &.partner {
                            border: 1px solid #fa3;
                            color: #fa3;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }
    .menuList {
        float: left;
        padding: 30px 0 0 30px;
        position: relative;
        list-style: none;
        li{
            list-style-type: none;
        }
        .menuItem {
            float: left;
            font-size: 16px;
            color: #fff;
            padding: 5px 0;
            margin: 0 10px;
            position: relative;
            a {
                color: #fff;
            }
            a:hover {
                color: #1dc8f9;
                cursor: pointer;
                text-decoration: none;
            }
            .active {
                color: #1dc8f9;
            }
            .secondMenuList {
                display: none;
                position: absolute;
                left: 0;
                top: 35px;
                width: 720px;
                height: 40px;
                padding-left: 0;
                .secondMenuItem {
                    float: left;
                    padding-right: 18px;
                    background-color: rgba(0, 0, 0, 0.5);
                    a {
                        font-size: 14px;
                        color: #a7b2bc;
                        line-height: 40px;
                    }
                    a:hover {
                        color: #fff;
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
                .secondMenuItem:nth-child(1) {
                    padding-left: 18px;
                }
            }
            .show {
                display: block;
            }
        }
    }
}
@media screen and (min-width: 1570px) {
    .basicHeader{
        .logo{
            padding-top: 14px;
        }
        .user{
            ul{
                padding: 0 30px 0 0;
                line-height: 80px;
            }
        }
        .menuList{
            padding: 0 0 0 30px;
            line-height: 80px;
            .menuItem{
                margin: 0 20px 0 0;
                padding: 0;
            }
        }
    }
}
@media screen and (max-width: 1570px) {
    .basicHeader {
        .menuList {
            width: 100%;
            text-align: left;
            padding: 0 0 0 70px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.16);
            border-top: 1px solid rgba(255, 255, 255, 0.16);
            .menuItem {
                line-height: 30px;
                .secondMenuList {
                    left: 0;
                    padding-top: 5px;
                }
            }
        }
    }
    .basicHeader .user ul {
        padding: 20px 30px 0 0;
        li {
            a {
                color: #fff;
            }
        }
    }
    .basicHeader .logo {
        padding: 0 0 0 30px;
        span {
            line-height: 60px;
        }
    }
}
@include media(xs) {
    .basicHeader {
        .logo {
            padding: 8px 0 0 10px;
            img {
                width: 24px;
            }
            span {
                padding-left: 4px;
                font-size: 12px;
                line-height: 1.3;
            }
        }
        .menuList {
            display: none;
        }
        .user {
            display: none;
        }
    }
}
